{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<form method="post">
	{% csrf_token %}
    <label for="name" "class="input-inline">Name:&nbsp;&nbsp;</label>
    <input type="text" id="name" name="name" class="input-inline"><br><br>
    <label for="age" class="input-inline">Age:&nbsp;&nbsp;</label>
    <input type="text" id="age" name="age" class="input-inline"><br><br>

    <label for="bloodpressure" class="input-inline">BloodPressure:&nbsp;&nbsp;</label>
    <input type="text" id="bloodpressure" name="bloodpressure" class="input-inline"><br><br>
    <label for="skinthickness" class="input-inline">SkinThickness:&nbsp;&nbsp;</label>
    <input type="text" id="skinthickness" name="skinthickness" class="input-inline"><br><br>
    <label for="insulin" class="input-inline">Insulin:&nbsp;&nbsp;</label>
    <input type="text" id="insulin" name="insulin" class="input-inline"><br><br>
    <label for="bmi" class="input-inline">Bmi:&nbsp;&nbsp;</label>
    <input type="text" id="bmi" name="bmi" class="input-inline"><br><br>

    <label for="glucose" class="input-inline">Glucose:&nbsp;&nbsp;</label>
    <input type="text" id="glucose" name="glucose" class="input-inline"><br><br>
    <label for="pregnancy" class="input-inline">Pregnancy:&nbsp;&nbsp;</label>
    <input type="text" id="pregnancy" name="pregnancy" class="input-inline"><br><br>
    <label for="diabetes_pdf" class="input-inline">Diabetes PDF:&nbsp;&nbsp;</label>
    <input type="text" id="diabetes_pdf" name="diabetes_pdf" class="input-inline"><br><br>
    <label for="location" class="input-inline">District:&nbsp;&nbsp;</label>
    <select name="location" id="location" class="input-inline">
	    <option value="Kathmandu">	Kathmandu</option>
	    <option value="Lalitpur">	Lalitpur</option>
	    <option value="Morang">	Morang</option>
	    <option value="Rupandehi">	Rupandehi</option>
	    <option value="Bhaktapur">	Bhaktapur</option>
	    <option value="Sunsari">	Sunsari</option>
	    <option value="Chitwan">	Chitwan</option>
	    <option value="Kaski">	Kaski</option>
	    <option value="Kailali">	Kailali</option>
	    <option value="Banke">	Banke</option>
	    <option value="Jhapa">	Jhapa</option>
	    <option value="Makwanpur">	Makwanpur</option>
	    <option value="Dang">	Dang</option>
	    <option value="Kavrepalanchowk">	Kavrepalanchowk</option>
	    <option value="Parsa">	Parsa</option>
	    <option value="Parasi">	Parasi</option>
	    <option value="Dhanusa">	Dhanusa</option>
	    <option value="Surkhet">	Surkhet</option>
	    <option value="Sarlahi">	Sarlahi</option>
	    <option value="Rautahat">	Rautahat</option>
	    <option value="Palpa">	Palpa</option>
	    <option value="Kapilvastu">	Kapilvastu</option>
	    <option value="Siraha">	Siraha</option>
	    <option value="Bara">	Bara</option>
	    <option value="Saptari">	Saptari</option>
	    <option value="Mahottari">	Mahottari</option>
	    <option value="Bardiya">	Bardiya</option>
	    <option value="Kanchanpur">	Kanchanpur</option>
	    <option value="Tanahu">	Tanahu</option>
	    <option value="Dhading">	Dhading</option>
	    <option value="Achham">	Achham</option>
	    <option value="Dailekh">	Dailekh</option>
	    <option value="Nawalpur">	Nawalpur</option>
	    <option value="Nuwakot">	Nuwakot</option>
	    <option value="Gorkha">	Gorkha</option>
	    <option value="Doti">	Doti</option>
	    <option value="Baglung">	Baglung</option>
	    <option value="Gulmi">	Gulmi</option>
	    <option value="Syangja">	Syangja</option>
	    <option value="Lamjung">	Lamjung</option>
	    <option value="Bajhang">	Bajhang</option>
	    <option value="Pyuthan">	Pyuthan</option>
	    <option value="Arghakhanchi">	Arghakhanchi</option>
	    <option value="Sindhupalchok">	Sindhupalchok</option>
	    <option value="Dolakha">	Dolakha</option>
	    <option value="Dadeldhura">	Dadeldhura</option>
	    <option value="Baitadi">	Baitadi</option>
	    <option value="Bajura">	Bajura</option>
	    <option value="Udayapur">	Udayapur</option>
	    <option value="Salyan">	Salyan</option>
	    <option value="Sindhuli">	Sindhuli</option>
	    <option value="Ramechhap">	Ramechhap</option>
	    <option value="Parbat">	Parbat</option>
	    <option value="Jumla">	Jumla</option>
	    <option value="Ilam">	Ilam</option>
	    <option value="Darchula">	Darchula</option>
	    <option value="Sankhuwasabha">	Sankhuwasabha</option>
	    <option value="Rolpa">	Rolpa</option>
	    <option value="Myagdi">	Myagdi</option>
	    <option value="Kalikot">	Kalikot</option>
	    <option value="Dhankuta">	Dhankuta</option>
	    <option value="Okhaldhunga">	Okhaldhunga</option>
	    <option value="Western Rukum">	Western Rukum</option>
	    <option value="Rasuwa">	Rasuwa</option>
	    <option value="Khotang">	Khotang</option>
	    <option value="Solukhumbu">	Solukhumbu</option>
	    <option value="Panchthar">	Panchthar</option>
	    <option value="Bhojpur">	Bhojpur</option>
	    <option value="Taplejung">	Taplejung</option>
	    <option value="Tehrathum">	Tehrathum</option>
	    <option value="Jajarkot">	Jajarkot</option>
	    <option value="Eastern Rukum">	Eastern Rukum</option>
	    <option value="Dolpa">	Dolpa</option>
	    <option value="Mustang">	Mustang</option>
	    <option value="Humla">	Humla</option>
	    <option value="Mugu">	Mugu</option>
	    <option value="Manang">	Manang</option>
    </select>

    <input id="submitButton" type="submit" value="Submit">


</form>

{% endblock %}
